/* Tablet responsive */

@media screen and (max-width: 768px) {
    
    /* General */
    
    .container {
        max-width: 100%;
    }

    img {
        width: 100%;
        display: block;
    }

    /* Utilities */

    .col {
        padding: 0;
    }

    .text {
        padding: 0 10px
    }

    /* Why us section */

    .why-us .col-left {
        flex-basis: 35%;
    }

    .why-us .col-right {
        flex-basis: 65%;
    }

}