/* Tablet responsive */

@media screen and (max-width: 768px) {
    
    /* General */
    
    .container {
        max-width: 100%;
    }

    img {
        width: 100%;
        display: block;
    }

    /* Utilities */

    .row {
        gap: 20px;
        padding: 0 20px;
    }

    .col {
        padding: 0;
    }

    .text {
        padding: 0 10px
    }
}


/* Mobile responsive */

@media screen and (max-width: 576px) {

    /* Utilities */

    .row {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .steps {
        margin-bottom: 0;
    }

    .steps .col, .lessons .col {
        width: 100%;
    }

    /* Why us */

    .why-us {
        background-color: black;
        margin: 0;
    }

    .why-us .col-left, .why-us .col-right {
        width: 100%;
    }

    .why-us h2 {
        padding-top: 3rem;
    }
}